<!-- Tres elementos. HTML, CSS Y JS. 
  ESTE ES EL CODIGO DEL WEBCOMPONENTE EN SI
TENEMOS PARTE TEMPLATE, PARTE SCRIPT. 
ESTA PRIMERA LINEA ES UN IMPORT, ESTAMOS IMPORTANDO UN POLYMER-ELEMENT. ESTE ES LA BASE DE TODOS
LOS ELEMENTOS POLYMER. COMO EN JAVA CUANDO CREAS UNA CLASE, HEREDAS DEL OBJECT, AQUI ESTE ES EL 
ELEMENTO BASE 
LO QUE ESTA EN TEMPLATE ES LO QUE SE VE. 
STYLE-- VA EL CSS
-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="frontproyecto-app">
  <template>
    <!--  -->
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- ESTAMOS USANDO UNA PROPIEDAD, QUE SE DEFINE MAS ABAJO -->
    <h2>Soy [[first_name]] [[last_name]]</h2>
    <h3>y tengo [[age]] años</h3>
    <input type="text" value="{{first_name::input}}"/>
    <input type="range" min="18" value="{{age::input}}" max="70" />
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class FrontproyectoApp extends Polymer.Element {
      // funcion equivalente a quien soy, devuelve el nombre de la etiqueta <frontproyecto-app>
      static get is() { return 'frontproyecto-app'; }
      static get properties() {
        return {
          // Devolvemos un object que tiene un object dentro que tiene el tipo (string, number, array, boolean)
          // y el valor que se le puede asignar por defecto
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          age: {
            type: Number
          }
        };
      }
    }
/**
estamos registrando el custom element que corresponde a la funcion estatica frontproyectoapp.is, es un string que se c
orresponde con el nombre de la etiqueta, y lo enlazo al nombre de la clase que lo gestiona. El is define el nombre de la
etiqueta y le asigno la clase que lo gestionará. 
**/
    window.customElements.define(FrontproyectoApp.is, FrontproyectoApp);
  </script>
</dom-module>
