<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- importamos el invocador del api que es iron-ajax -->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
    <input placeholder="email" type="email" value="{{email::input}}"></input>
    <input placeholder="password" type="password" value="{{password::input}}"></input>
    <button on-click="login">Login</button>

    <!-- ponemos el $ para que funcione en un control HTML -->
    <span hidden$={{!isLogged}}>Bienvenido de nuevo !!!!</span>

    <!-- quitamos el auto del iron-ajax -->
    <!-- cabecera content-type para lo que vamos a enviar -se ve en postman--->
    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v2/login"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
    ></iron-ajax>
    <!-- si es un 200 en respuesta, irá por el on-response
    pero si es un 4xx o 5xx, ira por showError -->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          isLogged:{
            type: Boolean,
            value:false
          }
        };
      }

      manageAJAXResponse(data){
        console.log("llegaron los resultados");
        console.log(data.detail.response);
        //accedemos a propiedad y activamos, que hará visible este flag span
        this.isLogged=true;
        window.location = "user/" + data.detail.response.id //este idUsuario es lo que devuelve el metodo login del api
      }

      login(){
        console.log("el usuario ha pulsado el boton");
        console.log("voy a enviar la petición.");

        var loginData = {
          "email": this.email,
          "password": this.password
        };
        //para referenciar al dom local dentro del shadow dom del componente ponemos el $
        //si queremos acceder al botón, le ponemos id y tb con dolar
        //metemos en el body del ajax component
        this.$.doLogin.body = JSON.stringify(loginData);
        //la siguiente linea lanza la peticion
        this.$.doLogin.generateRequest();
        console.log("Peticion enviada");
      }

      showError(error){
        console.log("Hubo un error");
        console.log(error);
      }
    }
    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>