<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- importamos el invocador del api que es iron-ajax -->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    aqui va el visor de cuentas del usuario {{idusuario}} 
    <hr>
    <template is="dom-repeat" items="{{accounts}}">
      <div>IBAN: <span>{{item.iban}}</span></div>
      <div>Saldo: <span>{{item.saldo}}€</span></div>
      <hr>
  </template>
    <!-- incluimos aqui el codigo del iron-ajax -->
    <!-- poner auto="true" o auto, es igual -->
    <!-- ponemos el id por parametro -->
    <!-- manejador on-response -->
    <iron-ajax auto="true" id="getAccounts" url="http://localhost:3000/apitechu/v2/accounts/{{idusuario}}" handle-as="json"
      on-response="showData">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          accounts: {
            type: Array
          }
        };
      }

      //aqui defino funciones aparte, dentro del class y despues de los properties
      //tiene un parametro que montará el iron-ajax (que lo llamamos data)
      showData(data) {
        console.log("estas entrando en showData VisorCuentas");
        console.log(data.detail.response);
        // //ahora accedo a las propiedades y asigno valores
        this.accounts = data.detail.response;

      }
    }


    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>