<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- importamos el invocador del api que es iron-ajax -->

<dom-module id="emisor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
    <h5>Soy el emisor.</h5>
    <button on-click="sendEvent">No pulsar</button>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class EmisorEvento extends Polymer.Element {
      static get is() { return 'emisor-evento'; }
      static get properties() {
        return {
        };
      }

      sendEvent(e) {
        console.log("Pulsado el botón");
        console.log(e);
        //disparamos evento
        //NO PONER MAYUSCULAS EN LOS EVENTOS
        //myevent es el nombre del evento
        // siguiente enviamos un objeto con lo que quiero enviar, 
        // pero esta restringido al objeto detail
        this.dispatchEvent(
          new CustomEvent(
            "myevent",
            {
              "detail" : {
                "course":"TechU",
                "year": 2018
              }
            }
          )
        );
      }
    }
    window.customElements.define(EmisorEvento.is, EmisorEvento);
  </script>
</dom-module>