<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- importamos el invocador del api que es iron-ajax -->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Soy [[first_name]] [[last_name]]</h2>
    <h3>y mi email es [[email]] </h3>
    <!-- incluimos aqui el codigo del iron-ajax -->
    <!-- poner auto="true" o auto, es igual -->
    <!-- ponemos el id por parametro -->
    <!-- manejador on-response -->
    <iron-ajax auto="true" id="getUser" url="http://localhost:3000/apitechu/v2/users/{{id}}" handle-as="json"
      on-response="showData">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          id: {
            type: Number
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          email: {
            type: String
          }
        };
      }

      //aqui defino funciones aparte, dentro del class y despues de los properties
      //tiene un parametro que montará el iron-ajax (que lo llamamos data)
      showData(data) {
        console.log("estas entrando en showData");
        console.log(data.detail.response.first_name);
        console.log(data.detail.response.last_name);
        console.log(data.detail.response.email);
        console.log(data.detail.response.password);
        //ahora accedo a las propiedades y asigno valores

        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.email = data.detail.response.email;

      }
    }


    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>