
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- importamos el invocador del api que es iron-ajax -->
<link rel="import" href="../emisor-evento/emisor-evento.html">
<link rel="import" href="../receptor-evento/receptor-evento.html">

<dom-module id="gestor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
    <h2>YO SOY TU PADRE. SOY EL GESTOR.</h2>
    <!-- meto el emisor dentro del gestor -->
    <!-- cuando se lance el evento personalizado que hemos declarado dentro, aqui es donde tengo
    la funcion manejadora processEvent -->
    <emisor-evento on-myevent="processEvent"></emisor-evento>
    <receptor-evento id="receiver"></receptor-evento>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorEvento extends Polymer.Element {
      static get is() { return 'gestor-evento'; }
      static get properties() {
        return {
        };
      }

      processEvent(e){
        console.log("Capturado evento del emisor");
        //muestro el objeto detail que se declara en el evento que se lanza
        console.log(e.detail);
        this.$.receiver.year = e.detail.year;
        this.$.receiver.course = e.detail.course;
      }
    }
    window.customElements.define(GestorEvento.is, GestorEvento);
  </script>
</dom-module>